/* ---------------------------------------------------------------------------------
  original import
--------------------------------------------------------------------------------- */
@import "./../../compornent/font-data.scss";
@import "./../../compornent/reset.scss";
@import "./../../compornent/responsive.scss";

.site-container {
  &__box {
    $bg-color-work: #6e6259;
    background-color: $bg-color-work!important;
    color: #fff;

    &__title {
      &::before {
        color: $bg-color-work!important;
      }
    }
  }
}

table {
  font-size: 20px;
  color: #333;
  width: 100%;

  thead {
  }

  tbody {
  }

  tr {
    td,th {
      padding: 20px;
    }

    th {
      text-align: left;
    }
  }
}