
/*
  筆記体
  @extend .inheritance-font-cursive;
*/
@font-face {
  font-family: DancingScript-VariableFont;
  src: url('./DancingScript-VariableFont_wght.ttf') format("truetype");
}

.inheritance-font-cursive {
  font-family: DancingScript-VariableFont, sans-serif;
}

/*
  筆記体
  @extend .inheritance-font-cursive;
*/
@font-face {
  font-family: DancingScript-VariableFont;
  src: url('./DancingScript-VariableFont_wght.ttf') format("truetype");
}

.inheritance-font-cursive {
  font-family: DancingScript-VariableFont, sans-serif;
}

/*
  筆記体
  @extend .inheritance-font-cursive;
*/
@font-face {
  font-family: DancingScript-VariableFont;
  src: url('./DancingScript-VariableFont_wght.ttf') format("truetype");
}

.inheritance-font-cursive {
  font-family: DancingScript-VariableFont, sans-serif;
}