// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @import "custom";
@import "locomotive-scroll/dist/locomotive-scroll.min.css";

section {
  height: 50vh;
}

section:nth-child(2n) {
  background-color: red;
}