// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @import "custom";
@import "locomotive-scroll/dist/locomotive-scroll.min.css";

/* ---------------------------------------------------------------------------------
  original import
--------------------------------------------------------------------------------- */
@import "./fonts/font-data.scss";

/* ---------------------------------------------------------------------------------
  main
--------------------------------------------------------------------------------- */
.main-visual {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 0;
  position: relative;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    @extend .inheritance-font-gothic;
    display: block;
    font-size: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
    }

    small {
      @extend .inheritance-font-gothic;
    }
  }

}

.works-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: block;
    margin: auto 10px;

    &__card {
      &__head {
        display: block;
        margin: 0 auto;
        width: 300px;
      }

      &__body {}
    }
  }
}

.profile-section {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;

  &__image-box {
    width: 66%;
  }

  &__link-box {
    width: 33%;

    &__button {

    }
  }
}