/* ---------------------------------------------------------------------------------
  original import
--------------------------------------------------------------------------------- */
@import "./../compornent/font-data.scss";
@import "./../compornent/reset.scss";
@import "./../compornent/responsive.scss";
@import "./../compornent/animate/animation.scss";
@import "./../compornent/animate/init-animate-css.scss";

/* ---------------------------------------------------------------------------------
  main
--------------------------------------------------------------------------------- */
.site-container {

  .nav-menu {
    background-color: rgba($color: #ccc0a7, $alpha: 0.8);
    position: fixed;
    padding: 0 50px;
    width: 100%;
    z-index: 10;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .3);

    @media(max-width: 576px) {
      display: none;
    }

    ul {
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      li {
        list-style: none;

        a {
          &,
          &:hover,
          &:visited,
          &:active,
          &:focus {
            display: block;
            color: #000;
            font-size: 20px;
            width: 200px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }

  &_article {
    min-height: calc(100vh - 316px);

    $bg-color-work: #eae6e0;
    background-color: $bg-color-work;
    $work-padding: 70px;
    $work-title-half: 80px;
    $work-title-top: $work-padding + $work-title-half;

    $work-padding-sp: responsivePx(35);
    $work-title-half-sp: responsivePx(40);
    $work-title-top-sp: $work-padding-sp + $work-title-half-sp;

    margin-top: $work-title-half;
    margin-left: auto;
    margin-bottom: -($work-title-half);
    margin-right: auto;
    padding: $work-padding 0 $work-title-top;

    @media(max-width: 576px) {
      margin-top: $work-title-half-sp;
      margin-bottom: -($work-title-half-sp);
      padding: $work-padding-sp 0 $work-title-top-sp;
      box-sizing: border-box;
    }

    &__title {
      font-size: 140px;
      color: #fff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 950px;
      margin: 0 auto;
      margin: -($work-title-top) auto $work-padding;
      position: relative;
      width: 100%;
      line-height: 1;

      @media(max-width: 576px) {
        font-size: responsivePx(70);
        margin: -($work-title-top-sp) responsivePx(-15) $work-padding-sp;
      }

      &::before {
        content: attr(data-inverted);
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: right;
        z-index: 1;
        height: $work-title-half;
        color: $bg-color-work;

        @media(max-width: 576px) {
          height: $work-title-half-sp;
        }
      }

      &__span {
        display: block;
      }
    }
  }

  footer {
    padding: 100px 100px 150px;
    background-color: #333;
    color: #fff;
    margin: 0 0 0 0;
    position: relative;

    @media(max-width: 576px) {
      padding: responsivePx(50) responsivePx(15);
    }

    h2 {
      @extend .inheritance-font-mincho;
      display: block;
      text-align: center;
      color: #fff;
      overflow: hidden;
      width: max-content;

      @media(max-width: 576px) {
        margin: 0 auto  ;
      }

      strong {
        display: block;
        font-size: 35px;

        @media(max-width: 576px) {
          font-size: responsivePx(35);
        }
      }

      small {
        @extend .inheritance-font-cursive;
        width: 100%;
        display: block;
        border-top: 1px solid #fff;
        font-size: 15px;
        padding: 10px 0 0;
        margin: -10px 0 0 0;

        @media(max-width: 576px) {
          font-size: responsivePx(15);
          padding: responsivePx(10) 0 0;
          margin: responsivePx(-10) 0 0 0;
        }
      }
    }
  }
}